@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.menu-bg {
  --background: #DDF1DC;
  position: relative;
}

.logo3-img {
  position: absolute;
  top: 10px;
  left: 70px;
  width: 250px;
  height: auto;
}

.menu-btn {
  position: absolute;
  background-color: #FFC857;
  color: #000;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.menu-btn:active {
  background-color: #EF4423;
}

.store-btn {
  position: absolute;
  background-color: #EF4423;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.store-btn:active {
  background-color: #FFC857;
}
